.artist_show_pic{
    height: 385px;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: -99;
}

// #show_profile_pic{
//     position: fixed;
//     z-index: -99;
// }

.artist_show_div{
    margin-top: 220px;
    min-height: 100vh;
    color: #FFFFFF;
}

.artist_show_name{
   font-size: 70px;
   font-weight: 700;
   margin-top: 20px;
    margin-left: 36px;

}

.artist_music_div{
    margin-top: 60px;
    height: max-content;
    padding-bottom: 80px;
    background: linear-gradient(#222222 15%, #131313 );
    display: flex;
    flex-direction: column;
}

.artist_music_div > *{
    margin-left: 36px;
}

.green_play_button{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: #1CB954;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    color: azure;
}

.green_play_button > *{
    margin-left: 7px;
}

.green_play_button:hover{

}

.artist_popular_div{
    min-height: max-content;
}

.artist_album_div{
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#artist_album_div_title{
    font-weight: 800px;
    font-size: 26px;

}

#aritst_album_div_album{
    display: flex;
    flex-direction: row;
}

.album_object_div{
    height: 290px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 25px;
    background-color: #222222;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: .3s; 
}
.album_object_div:hover{
    background-color: #2e2e2e;
    cursor: pointer;
}

.album_cover_pic{
    height: 180px;
    width: 180px;
}

.album_image{
    height: 180px;
    object-fit: cover;
}

#popular_songs{
    height: 45px;
    width: 45px;
    object-fit: cover;
}

.album_title_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 50px;
    margin-bottom: 15px;
}

#album_title{
    font-weight: 600;
}

#album_year{
    font-weight: 400;
    color: #B3B3B3;
    font-size: 15px;
}

.popular_song_component{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.popular_song_component:hover{
    background-color: #2e2e2e;
}

.popular_song_component_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 65px;
}

.popular_song_component_left > *{
    margin-left: 20px;
}