.artist_index_div{
    max-height: max-content;
    background: linear-gradient(#222E39 1%, #131313 );
    overflow: scroll;
    min-height: 100vh;
}

.index_title{
    height: 50px;
    width: 50px;
    color: azure;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;
}

.index_objects_div{
    min-height: min-content;
    max-height: max-content;
    margin-left: 280px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.artist_profile_pic_div{
    min-height: min-content;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile_object{
    // border: 1px solid red;
    border-radius: 5px;
    color: azure;
    height: 287px;
    width: 210px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s; 
    background-color: #191919;
}

.profile_object:hover{
    background-color: #282828;
}

.profile_pic{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

.profile_name{
    width: 100%;
    margin-left: 37px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

#profile_description{
    margin-top: 5px;
    font-size: 14px;
    color: #B1B1B1
}