#song_dropdown_false{
    display: none;
}

#song_dropdown_true{
    position: absolute;
    z-index: 2;
    width: 200px;
    // max-height: 175px;
    overflow: scroll;
    right: 155px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #282828;
    border-radius: 5px;
}

#add_to_playlist_list, #no_playlists{
    height: 30px;
    width: 200px;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    color: #b1b1b1
}

#no_playlists{
   
}

#add_to_playlist_list:hover{
    background-color: #b3b3b3;
    border-radius: 5px;
    color:black;
}

.add_playlist_title{
    margin-left: 20px;
}

.song_component_right{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#add_playlist_header{
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b3b3b3;
    color: #b1b1b1;
    display: flex;
    align-items: center;
}

#add_playlist_header_div{
    margin-left: 20px;
}

.song_dropdown_true{
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.song_dropdown_false{
    display: none;
}

.hidden{
    display: none
}

.delete{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.delete > * {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover{
    background-color: #b1b1b1;
    color: black;
}


