
.sidebar_comp{
    height: 100%;
    font-family: Verdana;
    font-weight: 600;
    color: azure;
}

#sidebar_top{
    border: 1px solid green;
    min-height: 350px;
}

#sidebar_bottom{
    height: 521px;
    max-height: 521px;
    overflow: hidden;
}
