.null_content_window{
    background-color: #141414;
    margin-left: 280px;
}

#null_results{
    height: 100vh;
    font-size: 50px;
    margin-left: 102px;
    display: flex;
    color: azure;
}

#null_words{
    margin-top: 102px;
}