.playbar_component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.playbar_top_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbar_mid{
    // border: 1px solid red;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
}

.playbar_play_button{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

#playbar_play{
    margin-left: 5px;
}

.the_playbar{
    width: 700px;
    display: flex;
    justify-content: space-between;
    color: azure;
    align-items: center;
    border: 1px solid blue;
}

#the_playbar{
    width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progress{
    height: 5px;
    background-color: azure;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.left_progress{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: azure
}

