.playbar_component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.playbar_top_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbar_mid{
    // border: 1px solid red;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbar_play_button{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

.faPlay{
    margin-left: 5px;
}

.the_playbar{
    width: 700px;
    display: flex;
    justify-content: space-between;
    color: azure;
    align-items: center;
}

#the_playbar{
    width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progress{
    height: 5px;
    background-color: azure;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.left_progress{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: azure
}

.playbar_left{
    margin-left: 20px;    
    height: 65px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.current_song_pic{
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.current_song_info{
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

#song_title{
    // height: 65px;
    width: 100%;
    // overflow-x: scroll;
    font-size: 16px;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#song_artist{
    font-size: 12px;
    color: #b3b3b3;
}

#song_artist:hover{
    text-decoration: underline;
    cursor: pointer;
}

.playbar_right{
    width: 400px;
    margin-right: 20px;
}

#no_playing{
    border-bottom: 1px solid #b2b2b2
}

