 
 #session_div{
   margin-top: 83px;
 }

 .logo_div{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
 }
 .dotify_logo{
    margin-bottom: 22px;
    font-family: Verdana;
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
    width: 170px; 
 }

 #session_form {
    margin-right: auto; 
    margin-left: auto;
    width: 400px;
    height: 500px;
}

 .session_label{
    font-family: Verdana;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
 }

 .session_input{
     display: inline-block;
     border: 1px solid #D9DADC;
     width: 100%;
     margin-top: 6px;
     margin-bottom: 12px;
     height: 30px;
 }

 .session_button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-right: auto; 
    margin-left: auto;
    border-radius: 25px;
    width: 95%;
    height: 42px;
    text-align: center;
    font-family: Verdana;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s; 

 }

  #session_submit {
    background: #13893D;
    color: white;
 }

 #session_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background: white;
 }

 #session_submit:hover {
    background: #43B947;
 }

 #session_switch:hover{
    background: #616467;
    border: 2px solid #616467;
    color: white
 }

 .session_msg{
    text-align: center;
    letter-spacing: normal;
    /* margin-top: 20px; */
 }

 #otherMsg{
     margin-top: 40px;
 }

 ::placeholder{
     font-weight: 300;
 }
 .thin{
    width: 99%;
    border-radius: 25px;
    color: #D9DADC;
 }

.errors_hiddden{
    display: none,
}

.errors_visable{
    background: #E22034;
    color: white;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.session_input_errors{
     display: inline-block;
     border: 1px solid #E22034;
     width: 100%;
     margin-top: 6px;
     margin-bottom: 12px;
     height: 30px;
}

.session_input_errors:focus{
    border: 1px solid #D9DADC;
}
