 #session_div{
     margin: 0;
     padding: 0;
 }

 #session_form {
    margin-right: auto; 
    margin-left: auto;
    width: 400px;
    height: 500px;
    /* border: 2px solid red; */
 }

 #session_username, #session_password{
     font-weight: 700;
     margin-bottom: 5px;
 }

 .session_input{
     display: inline-block;
     border: 1px solid #D9DADC;
     width: 100%;
     margin-top: 5px;
     margin-bottom: 5px;
     height: 30px;
 }

 #session_submit {
    display: block;
    margin-right: auto; 
    margin-left: auto;
    border-radius: 25px;
    background: #13893D;
    color: white;
    width: 95%;
    height: 42px;
    text-align: center;
 }

 ::placeholder{
     padding-left: 7px;
     font-weight: 300;
 }
 .thin{
    width: 99%;
    border-radius: 25px;
    color: #D9DADC;
 }

 .session_row{

 }