<!DOCTYPE html>
<html>
  <head>
    <title>Dotify</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <meta name="description" content="_" />
    <meta name="title" property="og:title" content="_" />
    <meta property="og:type" content="_" />
    <meta name="image" property="og:image" content="_" />
    <meta name="description" property="og:description" content="_" /><meta name="author" content="_" />
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
